@import 'reset';
@import 'variables';

body {
  min-height: 100vh;
  overflow-y: hidden;
  font-family: $font-stack;
}

.workspace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#blocklyWorkspace {
  position: absolute;
}
